h2 {
    font-family: Montserrat, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

body {
    background-color: lavender;
}


.resultadoBG {
    background: url('../images/placeholder.jpg');
    margin: 0 auto;
    width: 350px;
    height: 350px;
    background-size: cover;
    border: solid #ccc;
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textMeme {
    color: rgba(255, 255, 255, 1);
    font-size: 40px;
    font-family: Impact, fantasy;
    font-weight: 800;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    text-align: center;
    word-break: break-word;
}

.card-meme {
    width: 150px;
    padding: 50px;
    height: 150px;
    background-color: white;
    background-size: cover;
    justify-content: center;
    border-radius: 5px;
    margin: 5px;
}

.divMemes {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container-meme {
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    width: fit-content;
    margin: auto;

}

/*background: url('../images/meme-01.jpg');*/